CMakeLists.txt.user*

# Projectile tags
TAGS

# Ignore build directory
build/
build-*/

# Gedit backup files
*~
*.orig
.cache
.cmake
nbproject/
.directory
CMakeCache.txt
*autogen/
*.a
*.so.*
*.so
Makefile
moc_*.cpp
CMakeFiles
cmake_install.cmake
CTestTestfile.cmake

